.custom-navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 25px 5%; 
  background-color: #ffffff;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
  gap: 30px; 
}

.nav-link {
  color: #7a8c99; 
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.5px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #1b4353; 


.logo-text {
  margin: 0;
  color: #1b4353; 
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.whale-icon {
  font-size: 30px;
}

/* Styling the icons on the right */
.icon-link {
  color: #1b4353;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.cart-icon {
  font-size: 15px;
  font-weight: 500;
  gap: 5px;
}
.cart-count {
  background-color: #1b4353;
  color: #ffffff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: bold;
}
}