<nav class="custom-navbar">
  <div class="nav-left">
    <a routerLink="/" class="nav-link">SHOP</a>
    <a routerLink="/about" class="nav-link">ABOUT</a>
  </div>

  <div class="nav-center">
    <h2 class="logo-text">🐋 MARNA</h2>
  </div>

  <div class="nav-right">
    
    <a *ngIf="isUserAdmin" routerLink="/admin" class="nav-link">ADMIN</a>

    <ng-container *ngIf="!isUserLoggedIn">
      <a routerLink="/login" class="nav-link">LOGIN</a>
      <a routerLink="/signup" class="nav-link">SIGN UP</a>
    </ng-container>

    <a *ngIf="isUserLoggedIn" (click)="logout()" class="nav-link" style="cursor: pointer;">LOGOUT</a>

  <a routerLink="/cart" class="icon-link cart-icon">🛒 {{ cartItemCount }}</a>
    
  </div>
</nav>

<router-outlet></router-outlet>